@model AppUser

@{
    ViewData["Title"] = "My Profile";
}

<h1>@Model.FirstName @Model.LastName</h1>

<ul>
    <li>
        <h4>Username</h4>
        <p>@Model.UserName</p>
    </li>
    <li>
        <h4>Birthday</h4>
        <p>@Model.Birthdate.ToShortDateString()</p>
    </li>
    <li>
        <h4>Title</h4>
        <p>Very Important Person Manager Person</p>
    </li>
    <li>
        <h4>Account Type</h4>
        @if (@User.IsInRole("Peach"))
        {
            <p>+ + SUPER ADMIN + +</p>
        }
        else if (@User.IsInRole("Banana"))
        {
            <p>+ + ADMIN + +</p>
        }
        else if (@User.IsInRole("Apple"))
        {
            <p>+ + MEMBER + +</p>
        }

    </li>
</ul>