@model Person

@{
    string targetId = "persondiv" + Model.Id;
}
<div class="row">
    <div class="col-sm-2">
        <p>@Model.Name</p>
    </div>
    <div class="col-sm-2">
        <p>@Model.City</p>
    </div>
    <div class="col-sm-2">
        <p>@Model.PhoneNumber</p>
    </div>
    <div class="col-sm-2">
        <p>
            <a onclick="ReplaceTargetWithAspActionResult(event, this, '@targetId');" asp-controller="Register" asp-action="EditPerson" asp-route-id="@Model.Id">Edit</a>
            <a asp-controller="Register" asp-action="DeletePerson" asp-route-id="@Model.Id">X</a>
            <partial name="_DeletePersonPartialView" model="Model.Id" />
        </p>
    </div>
</div>

@* Move the actions out of person partial *@
@*<script>
    $("#@buttonId").click(function (e) {
        e.preventDefault();
        var _this = $(this);
        $.get(_this.attr("href"), function (res) {
            $('#' + _this.data("target")).html(res);
        });
    });
</script>*@
