@model List<IHasIdAndName>
@{
    var selectedIds = ViewBag.SelectedIds;
    var selectedId = ViewBag.SelectedId;
}
@foreach (var item in Model)
{
    if (selectedId == item.Id)
    {
        <option value="@item.Id" selected>@item.Name</option>
    }
    else if (selectedIds != null && selectedIds is string[] && (selectedIds as string[]).Contains(item.Id.ToString()))
    {
        <option value="@item.Id" selected>@item.Name</option>
    }
    else
    {
        <option value="@item.Id">@item.Name</option>
    }

}
